<h2> Membres du groupe 6 :</h2>
<ul>
    <li>N°08, ANDRIANASOLO LALA Sitrakaharinetsa Kevin</li>
    <li>N°34, RAMANAMPAMONJY Sandratriniaina Riantsoa</li>    
</ul>

<h2> Repositories :</h2>
<ul>
    <li>API : <a href="https://github.com/KevinAndrianasolo/api-angular-kevin8-riantsoa34-mbds2223.git">https://github.com/KevinAndrianasolo/api-angular-kevin8-riantsoa34-mbds2223.git</a></li>
    <li>FRONT :  <a href="https://github.com/KevinAndrianasolo/front-angular-kevin8-riantsoa34-mbds2223.git">https://github.com/KevinAndrianasolo/front-angular-kevin8-riantsoa34-mbds2223.git</a></li>    
</ul>

<h2> RENDER.COM</h2>
<ul>
    <li>API :  <a href="https://api-angular-kevin8-riantsoa34-mbds2223.onrender.com">https://api-angular-kevin8-riantsoa34-mbds2223.onrender.com</a></li>
    <li>FRONT :  <a href="https://front-angular-kevin8-riantsoa34-mbds2223.onrender.com">https://front-angular-kevin8-riantsoa34-mbds2223.onrender.com</a></li>
</ul>

<h2> CONNEXION</h2>
<ul>
    <li>Admin :  admin@yopmail.com / Password : test</li>
    <li>User :  user@yopmail.com / Password : test</li>
</ul>
